@CHARSET "UTF-8";


.box{
	
	margin : auto; 
	width : 816px;
	
}


.box div{
	
	border : 1px solid #67686b;
	padding : 25px 30px;
	margin : 5px; 
	float : left;
	height : 450px;
	width : 200px;
	
}

.box img{
			margin : auto;
			width : 200px;
			height: 200px;
}
		