@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap')
			;


.box pre{
		font-size : 1.2em;
		background-color : #dced7b;
		
}
.box div{
	border : 1px dotted orange;
	padding :  50px;
	margin : 5px;
	background-color :#e9f5a6;
}

.box input[type = button]{
	background-color : #73c99a;
	color : white;
	width : 150px;
	height :50px;
	padding : 5px 10px;  /*위 아래가 5px 좌우가 10px*/
									/* px를 세 개 설정하면 1. top 2. 좌우 3.bottom 순으로 설정된다*/
	border-radius :40px; /* border-radius : buttom의 모서리를 둥글게 한다*/
								/*px이 세 개 설정하면 대각선순서로 변경된다 1.오른쪽 위 모서리 2.왼쪽 아래 모서리*/
	margin : 10px;
	font-size : 1.2em;
	font-family :'Gothic A1', sans-serif;
}
.box img{
	
	width : 150px;
	height : 150px;
}

.box{
		background-color : white;
		font=size : 1.5rem;
		padding : 50px; /*안쪽 여백 = padding*/
		margin : 5px; /*바깥쪽 여백 = margin*/
		border-top : 2px double #522e19;
		border-bottom : 2px double #522e19;
		font-family :'Gothic A1', sans-serif;
		
}
